
#contact iframe, #form{
    flex-basis: 40%;
    height: 50%;
    min-height: 43rem;
}
#form {

    
    border: 1px solid grey;
    position: relative

}
#n-msg, #e-msg {
    display: inline;
    position: absolute;

}


.container-form {
    width: 100%;
    height: calc(100% - 12rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid gray;
    justify-content: center;


}

.container-form:after{
    content: '';
    position: absolute;
    width: 0;
    margin-top: 51rem;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #cccccc;
    visibility: visible
}
@media only screen and (max-width: 650px){
    .container-form:after{
        visibility: hidden;
    }
}

.input-section {
    padding: 1rem;
    text-align: center;

}

#question {
    margin: 0rem 1rem;
    width: 60%;
    border: 2px solid grey;
    font-size: 1.4rem;
}

button.form-submission {
    clear: both;
    background-color: #3366cc;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    height: 4rem;



}

.form-title {
    text-align: center;
    color: #ebebeb;
    font-size: 2rem;
    background-color: #3366cc;
    height: 4rem;
    line-height: 4rem;
}

#name,
#email {
    margin: 0rem 1rem;
    height: 2.5rem;
    font-size: 1.4rem;
    width: 60%;
    border: 1px solid grey;
}

.input-section>label {
    font-size: 1.5rem;
    color: #000;
}

.input-section>label:after {
    content: "*";
    color: red;
}


input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0rem 1rem;
}

label [for="term"] {
    font-size: 1.2rem;
}