
/*      #cc33cc #33cccc #3366CC #003366; #cccccc #333333*/
*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 10px;
    cursor: default;
   overflow-x: hidden;
}

a{

    text-decoration: none;
}
li a{
    position: relative;
     color: #3a76ed;
    font-size: 2rem;
}



#wrapper{
    max-width: 1400px;
    margin: 0 auto;

}
section{
    height: 100vh;
    max-width: 1400px;
    min-height: 75rem;
    background-color: #ebebeb;

}









